@if(bannar()) {
    @for(banner of bannar(); track banner._id; let i = $index) {
        <section class="py-20 bg-gradient-to-r from-primary-400 to-primary-900 dark:from-primary-500 dark:to-primary-900 transition-colors duration-300">
          <div class="max-w-[1922px] mx-auto px-4">
            <div class="grid lg:grid-cols-2 gap-12 items-center"
                 >
                 
              <!-- النص -->
              <div class="space-y-8"
                   [ngClass]="{ 'md:order-2': i % 2 === 1 }">
                <span class="inline-flex items-center px-4 py-2 rounded-full text-sm font-medium bg-white/20 dark:bg-white/10 text-white transition-colors duration-300">
                  <i class="pi pi-tag me-2"></i>
                  {{banner.tag | multiLanguage}}
                </span>
                <h2 class="text-4xl lg:text-5xl font-bold text-white transition-colors duration-300
                !leading-tight">
                  {{banner.title | multiLanguage}}
                </h2>
                <p class="text-white/90 dark:text-white/80 text-lg leading-relaxed transition-colors duration-300">
                  {{banner.description | multiLanguage}}
                </p>
        
                <div class="flex flex-col sm:flex-row gap-4"
                >
                  @for(button of banner?.buttons; track button.label) {
                    <button [routerLink]="button.url" [queryParams]="button.params"
                      class="bg-white dark:bg-gray-100 text-primary-400 dark:text-primary-400 px-8 py-2 rounded-xl font-semibold text-lg hover:bg-gray-100 dark:hover:bg-gray-200 transition-all duration-300 hover:scale-105">
                      {{button.label | multiLanguage}}
                    </button>
                  }
                </div>
              </div>
        
              <!-- الصورة -->
              <div class="relative">
                <img [src]="banner?.image?.filePath" [alt]="banner?.image?.fileName" fallback="images/photo.png"
                     class="w-full h-auto rounded-2xl shadow-2xl dark:shadow-gray-900/50 transition-all duration-300">
              </div>
            </div>
          </div>
        </section>
        }
        
}